:root {
  --main-color: rgb(52, 53, 65);
  --background-outline : rgb(62, 63, 75)
}

/* @media (prefers-color-scheme: dark) {
  :root {
   
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: var(--main-color) !important;
}
.container{
    height: calc(100vh - 100px);
    padding: 20px;
    background-color: var(--background-outline);
    margin-top: 20px;
}
