.company {

    &-page {
        display: flex;
        flex-wrap: wrap;

        .col {
            margin-top: 15px;
        }

        &-title {
            margin-bottom: 0 !important;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
        }

        &-link {
            text-decoration: none;
        }


        &-add-company-btn {
            height: 260px;
            flex: 0 1 23%;

            h4 {
                display: flex;
                gap: 10px;
                flex-direction: column;
                align-items: center;
                color: black;
            }

            img {
                max-width: 40%;
                border-radius: 100%;
                padding: 2px;
                height: 100px;
            }
        }

        .card {
            padding: 8px;
            height: 260px;
            display: flex;
            align-items: center;

            &-body {
                width: 100%;
            }

            &-text {
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                // white-space: nowrap; 
            }

            &-img-top {
                max-width: 40%;
                border-radius: 100%;
                padding: 2px;
            }
        }
    }

    &-title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;
        margin: 10px 0;
        color: rgb(236, 236, 245);
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


}